################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChainOfResponsibility/obj
/ChainOfResponsibility/bin/Debug/net7.0
